name: Rust tests
on:
  pull_request:
    branches:
      - test

jobs:
  cargo_test:
    name: Cargo Lint & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Linux packages
        run: |
          sudo apt update && sudo apt install -y \
          libwebkit2gtk-4.1-dev \
          build-essential \
          curl \
          wget \
          libglib2.0-dev \
          libssl-dev \
          libgtk-3-dev \
          libappindicator3-dev \
          librsvg2-dev \
          libappindicator-dev \
          libgdk3.0-cil \
          libatk1.0-dev \
          libsoup3.0-dev

      - name: Update local toolchain
        run: |
          rustup update
          rustup component add clippy
          rustup install nightly

      - name: Toolchain info
        run: |
          cargo --version --verbose
          rustc --version
          cargo clippy --version

      - name: Lint
        working-directory: ./client/src-tauri
        run: |
        
          cargo fmt -- --check
          cargo clippy -- -D warnings          
  
      - name: Test
        working-directory: ./client/src-tauri
        run: |
          cargo check
          cargo test --all          