name: Gradle Check
on:
  pull_request:
    branches:
      - test

# Source: https://stackoverflow.com/questions/67344181/how-to-use-github-actions-bot-for-testing-gradle-java
jobs:
  gradle_check:
    name: Gradle Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: temurin

      - name: Grant Permissions to gradlew
        working-directory: ./lib
        run: chmod +x gradlew

      - name: Toolchain info
        working-directory: ./lib
        run: |
          java -version
          gradlew -version

      - name: Gradle Check
        working-directory: ./lib
        run: ./gradlew check --no-daemon

      - name: Check Success
        if: success()
        uses: actions/github-script@v7
        with:
          github-token: ${{ github.token }}
          script: |
            const pull_number = "${{github.event.number}}"
            await github.pulls.createReview({
              ...context.repo,
              pull_number,
              body: "Java library check was successful.",
              event: "APPROVE"
            })
      - name: Check Fail
        if: failure()
        uses: actions/github-script@v7
        with:
          github-token: ${{ github.token }}
          script: |
            const pull_number = "${{github.event.number}}"
            await github.pulls.createReview({
              ...context.repo,
              pull_number,
              body: "Java library check failed.",
             event: "REQUEST_CHANGES"
            })
            await github.pulls.update({
              ...context.repo,
              pull_number,
              state: "closed"
            })
